.np-10 {
  padding: 10px !important;
}
.npt-0 {
  padding-top: 0 !important;
}
.npt-1 {
  padding-top: 1px !important;
}
.npt-2 {
  padding-top: 2px !important;
}
.npt-3 {
  padding-top: 3px !important;
}
.npt-4 {
  padding-top: 4px !important;
}
.npt-5 {
  padding-top: 5px !important;
}
.npt-6 {
  padding-top: 6px !important;
}
.npt-7 {
  padding-top: 7px !important;
}
.npt-8 {
  padding-top: 8px !important;
}
.npt-9 {
  padding-top: 9px !important;
}
.npt-10 {
  padding-top: 10px !important;
}
.npt-11 {
  padding-top: 11px !important;
}
.npt-12 {
  padding-top: 12px !important;
}
.npt-13 {
  padding-top: 13px !important;
}
.npt-14 {
  padding-top: 14px !important;
}
.npt-15 {
  padding-top: 15px !important;
}
.npt-16 {
  padding-top: 16px !important;
}
.npt-17 {
  padding-top: 17px !important;
}
.npt-18 {
  padding-top: 18px !important;
}
.npt-19 {
  padding-top: 19px !important;
}
.npt-20 {
  padding-top: 20px !important;
}
.npt-21 {
  padding-top: 21px !important;
}
.npt-22 {
  padding-top: 22px !important;
}
.npt-23 {
  padding-top: 23px !important;
}
.npt-24 {
  padding-top: 24px !important;
}
.npt-25 {
  padding-top: 25px !important;
}
.npt-26 {
  padding-top: 26px !important;
}
.npt-27 {
  padding-top: 27px !important;
}
.npt-28 {
  padding-top: 28px !important;
}
.npt-29 {
  padding-top: 29px !important;
}
.npt-30 {
  padding-top: 30px !important;
}
.npt-31 {
  padding-top: 31px !important;
}
.npt-32 {
  padding-top: 32px !important;
}
.npt-33 {
  padding-top: 33px !important;
}
.npt-34 {
  padding-top: 34px !important;
}
.npt-35 {
  padding-top: 35px !important;
}
.npt-36 {
  padding-top: 36px !important;
}
.npt-37 {
  padding-top: 37px !important;
}
.npt-38 {
  padding-top: 38px !important;
}
.npt-39 {
  padding-top: 39px !important;
}
.npt-40 {
  padding-top: 40px !important;
}
.npt-41 {
  padding-top: 41px !important;
}
.npt-42 {
  padding-top: 42px !important;
}
.npt-43 {
  padding-top: 43px !important;
}
.npt-44 {
  padding-top: 44px !important;
}
.npt-45 {
  padding-top: 45px !important;
}
.npt-46 {
  padding-top: 46px !important;
}
.npt-47 {
  padding-top: 47px !important;
}
.npt-48 {
  padding-top: 48px !important;
}
.npt-49 {
  padding-top: 49px !important;
}
.npt-50 {
  padding-top: 50px !important;
}
.npb-0 {
  padding-bottom: 0 !important;
}
.npb-1 {
  padding-bottom: 1px !important;
}
.npb-2 {
  padding-bottom: 2px !important;
}
.npb-3 {
  padding-bottom: 3px !important;
}
.npb-4 {
  padding-bottom: 4px !important;
}
.npb-5 {
  padding-bottom: 5px !important;
}
.npb-6 {
  padding-bottom: 6px !important;
}
.npb-7 {
  padding-bottom: 7px !important;
}
.npb-8 {
  padding-bottom: 8px !important;
}
.npb-9 {
  padding-bottom: 9px !important;
}
.npb-10 {
  padding-bottom: 10px !important;
}
.npb-11 {
  padding-bottom: 11px !important;
}
.npb-12 {
  padding-bottom: 12px !important;
}
.npb-13 {
  padding-bottom: 13px !important;
}
.npb-14 {
  padding-bottom: 14px !important;
}
.npb-15 {
  padding-bottom: 15px !important;
}
.npb-16 {
  padding-bottom: 16px !important;
}
.npb-17 {
  padding-bottom: 17px !important;
}
.npb-18 {
  padding-bottom: 18px !important;
}
.npb-19 {
  padding-bottom: 19px !important;
}
.npb-20 {
  padding-bottom: 20px !important;
}
.npb-21 {
  padding-bottom: 21px !important;
}
.npb-22 {
  padding-bottom: 22px !important;
}
.npb-23 {
  padding-bottom: 23px !important;
}
.npb-24 {
  padding-bottom: 24px !important;
}
.npb-25 {
  padding-bottom: 25px !important;
}
.npb-26 {
  padding-bottom: 26px !important;
}
.npb-27 {
  padding-bottom: 27px !important;
}
.npb-28 {
  padding-bottom: 28px !important;
}
.npb-29 {
  padding-bottom: 29px !important;
}
.npb-30 {
  padding-bottom: 30px !important;
}
.npb-31 {
  padding-bottom: 31px !important;
}
.npb-32 {
  padding-bottom: 32px !important;
}
.npb-33 {
  padding-bottom: 33px !important;
}
.npb-34 {
  padding-bottom: 34px !important;
}
.npb-35 {
  padding-bottom: 35px !important;
}
.npb-36 {
  padding-bottom: 36px !important;
}
.npb-37 {
  padding-bottom: 37px !important;
}
.npb-38 {
  padding-bottom: 38px !important;
}
.npb-39 {
  padding-bottom: 39px !important;
}
.npb-40 {
  padding-bottom: 40px !important;
}
.npb-41 {
  padding-bottom: 41px !important;
}
.npb-42 {
  padding-bottom: 42px !important;
}
.npb-43 {
  padding-bottom: 43px !important;
}
.npb-44 {
  padding-bottom: 44px !important;
}
.npb-45 {
  padding-bottom: 45px !important;
}
.npb-46 {
  padding-bottom: 46px !important;
}
.npb-47 {
  padding-bottom: 47px !important;
}
.npb-48 {
  padding-bottom: 48px !important;
}
.npb-49 {
  padding-bottom: 49px !important;
}
.npb-50 {
  padding-bottom: 50px !important;
}
.npl-0 {
  padding-left: 0 !important;
}
.npl-1 {
  padding-left: 1px !important;
}
.npl-2 {
  padding-left: 2px !important;
}
.npl-3 {
  padding-left: 3px !important;
}
.npl-4 {
  padding-left: 4px !important;
}
.npl-5 {
  padding-left: 5px !important;
}
.npl-6 {
  padding-left: 6px !important;
}
.npl-7 {
  padding-left: 7px !important;
}
.npl-8 {
  padding-left: 8px !important;
}
.npl-9 {
  padding-left: 9px !important;
}
.npl-10 {
  padding-left: 10px !important;
}
.npl-11 {
  padding-left: 11px !important;
}
.npl-12 {
  padding-left: 12px !important;
}
.npl-13 {
  padding-left: 13px !important;
}
.npl-14 {
  padding-left: 14px !important;
}
.npl-15 {
  padding-left: 15px !important;
}
.npl-16 {
  padding-left: 16px !important;
}
.npl-17 {
  padding-left: 17px !important;
}
.npl-18 {
  padding-left: 18px !important;
}
.npl-19 {
  padding-left: 19px !important;
}
.npl-20 {
  padding-left: 20px !important;
}
.npl-21 {
  padding-left: 21px !important;
}
.npl-22 {
  padding-left: 22px !important;
}
.npl-23 {
  padding-left: 23px !important;
}
.npl-24 {
  padding-left: 24px !important;
}
.npl-25 {
  padding-left: 25px !important;
}
.npl-26 {
  padding-left: 26px !important;
}
.npl-27 {
  padding-left: 27px !important;
}
.npl-28 {
  padding-left: 28px !important;
}
.npl-29 {
  padding-left: 29px !important;
}
.npl-30 {
  padding-left: 30px !important;
}
.npl-31 {
  padding-left: 31px !important;
}
.npl-32 {
  padding-left: 32px !important;
}
.npl-33 {
  padding-left: 33px !important;
}
.npl-34 {
  padding-left: 34px !important;
}
.npl-35 {
  padding-left: 35px !important;
}
.npl-36 {
  padding-left: 36px !important;
}
.npl-37 {
  padding-left: 37px !important;
}
.npl-38 {
  padding-left: 38px !important;
}
.npl-39 {
  padding-left: 39px !important;
}
.npl-40 {
  padding-left: 40px !important;
}
.npl-41 {
  padding-left: 41px !important;
}
.npl-42 {
  padding-left: 42px !important;
}
.npl-43 {
  padding-left: 43px !important;
}
.npl-44 {
  padding-left: 44px !important;
}
.npl-45 {
  padding-left: 45px !important;
}
.npl-46 {
  padding-left: 46px !important;
}
.npl-47 {
  padding-left: 47px !important;
}
.npl-48 {
  padding-left: 48px !important;
}
.npl-49 {
  padding-left: 49px !important;
}
.npl-50 {
  padding-left: 50px !important;
}
.npr-0 {
  padding-right: 0 !important;
}
.npr-1 {
  padding-right: 1px !important;
}
.npr-2 {
  padding-right: 2px !important;
}
.npr-3 {
  padding-right: 3px !important;
}
.npr-4 {
  padding-right: 4px !important;
}
.npr-5 {
  padding-right: 5px !important;
}
.npr-6 {
  padding-right: 6px !important;
}
.npr-7 {
  padding-right: 7px !important;
}
.npr-8 {
  padding-right: 8px !important;
}
.npr-9 {
  padding-right: 9px !important;
}
.npr-10 {
  padding-right: 10px !important;
}
.npr-11 {
  padding-right: 11px !important;
}
.npr-12 {
  padding-right: 12px !important;
}
.npr-13 {
  padding-right: 13px !important;
}
.npr-14 {
  padding-right: 14px !important;
}
.npr-15 {
  padding-right: 15px !important;
}
.npr-16 {
  padding-right: 16px !important;
}
.npr-17 {
  padding-right: 17px !important;
}
.npr-18 {
  padding-right: 18px !important;
}
.npr-19 {
  padding-right: 19px !important;
}
.npr-20 {
  padding-right: 20px !important;
}
.npr-21 {
  padding-right: 21px !important;
}
.npr-22 {
  padding-right: 22px !important;
}
.npr-23 {
  padding-right: 23px !important;
}
.npr-24 {
  padding-right: 24px !important;
}
.npr-25 {
  padding-right: 25px !important;
}
.npr-26 {
  padding-right: 26px !important;
}
.npr-27 {
  padding-right: 27px !important;
}
.npr-28 {
  padding-right: 28px !important;
}
.npr-29 {
  padding-right: 29px !important;
}
.npr-30 {
  padding-right: 30px !important;
}
.npr-31 {
  padding-right: 31px !important;
}
.npr-32 {
  padding-right: 32px !important;
}
.npr-33 {
  padding-right: 33px !important;
}
.npr-34 {
  padding-right: 34px !important;
}
.npr-35 {
  padding-right: 35px !important;
}
.npr-36 {
  padding-right: 36px !important;
}
.npr-37 {
  padding-right: 37px !important;
}
.npr-38 {
  padding-right: 38px !important;
}
.npr-39 {
  padding-right: 39px !important;
}
.npr-40 {
  padding-right: 40px !important;
}
.npr-41 {
  padding-right: 41px !important;
}
.npr-42 {
  padding-right: 42px !important;
}
.npr-43 {
  padding-right: 43px !important;
}
.npr-44 {
  padding-right: 44px !important;
}
.npr-45 {
  padding-right: 45px !important;
}
.npr-46 {
  padding-right: 46px !important;
}
.npr-47 {
  padding-right: 47px !important;
}
.npr-48 {
  padding-right: 48px !important;
}
.npr-49 {
  padding-right: 49px !important;
}
.npr-50 {
  padding-right: 50px !important;
}
.nml-auto {
  margin-left: auto !important;
}
.nmr-auto {
  margin-right: auto !important;
}

.nmt-0 {
  margin-top: 0 !important;
}
.nmt-1 {
  margin-top: 1px !important;
}
.nmt-2 {
  margin-top: 2px !important;
}
.nmt-3 {
  margin-top: 3px !important;
}
.nmt-4 {
  margin-top: 4px !important;
}
.nmt-5 {
  margin-top: 5px !important;
}
.nmt-6 {
  margin-top: 6px !important;
}
.nmt-7 {
  margin-top: 7px !important;
}
.nmt-8 {
  margin-top: 8px !important;
}
.nmt-9 {
  margin-top: 9px !important;
}
.nmt-10 {
  margin-top: 10px !important;
}
.nmt-11 {
  margin-top: 11px !important;
}
.nmt-12 {
  margin-top: 12px !important;
}
.nmt-13 {
  margin-top: 13px !important;
}
.nmt-14 {
  margin-top: 14px !important;
}
.nmt-15 {
  margin-top: 15px !important;
}
.nmt-16 {
  margin-top: 16px !important;
}
.nmt-17 {
  margin-top: 17px !important;
}
.nmt-18 {
  margin-top: 18px !important;
}
.nmt-19 {
  margin-top: 19px !important;
}
.nmt-20 {
  margin-top: 20px !important;
}
.nmt-21 {
  margin-top: 21px !important;
}
.nmt-22 {
  margin-top: 22px !important;
}
.nmt-23 {
  margin-top: 23px !important;
}
.nmt-24 {
  margin-top: 24px !important;
}
.nmt-25 {
  margin-top: 25px !important;
}
.nmt-26 {
  margin-top: 26px !important;
}
.nmt-27 {
  margin-top: 27px !important;
}
.nmt-28 {
  margin-top: 28px !important;
}
.nmt-29 {
  margin-top: 29px !important;
}
.nmt-30 {
  margin-top: 30px !important;
}
.nmt-31 {
  margin-top: 31px !important;
}
.nmt-32 {
  margin-top: 32px !important;
}
.nmt-33 {
  margin-top: 33px !important;
}
.nmt-34 {
  margin-top: 34px !important;
}
.nmt-35 {
  margin-top: 35px !important;
}
.nmt-36 {
  margin-top: 36px !important;
}
.nmt-37 {
  margin-top: 37px !important;
}
.nmt-38 {
  margin-top: 38px !important;
}
.nmt-39 {
  margin-top: 39px !important;
}
.nmt-40 {
  margin-top: 40px !important;
}
.nmt-41 {
  margin-top: 41px !important;
}
.nmt-42 {
  margin-top: 42px !important;
}
.nmt-43 {
  margin-top: 43px !important;
}
.nmt-44 {
  margin-top: 44px !important;
}
.nmt-45 {
  margin-top: 45px !important;
}
.nmt-46 {
  margin-top: 46px !important;
}
.nmt-47 {
  margin-top: 47px !important;
}
.nmt-48 {
  margin-top: 48px !important;
}
.nmt-49 {
  margin-top: 49px !important;
}
.nmt-50 {
  margin-top: 50px !important;
}
.nmt-55 {
  margin-top: 55px !important;
}
.nmt-57 {
  margin-top: 57px !important;
}
.nmt-60 {
  margin-top: 60px !important;
}
.nmb-0 {
  margin-bottom: 0 !important;
}
.nmb-1 {
  margin-bottom: 1px !important;
}
.nmb-2 {
  margin-bottom: 2px !important;
}
.nmb-3 {
  margin-bottom: 3px !important;
}
.nmb-4 {
  margin-bottom: 4px !important;
}
.nmb-5 {
  margin-bottom: 5px !important;
}
.nmb-6 {
  margin-bottom: 6px !important;
}
.nmb-7 {
  margin-bottom: 7px !important;
}
.nmb-8 {
  margin-bottom: 8px !important;
}
.nmb-9 {
  margin-bottom: 9px !important;
}
.nmb-10 {
  margin-bottom: 10px !important;
}
.nmb-11 {
  margin-bottom: 11px !important;
}
.nmb-12 {
  margin-bottom: 12px !important;
}
.nmb-13 {
  margin-bottom: 13px !important;
}
.nmb-14 {
  margin-bottom: 14px !important;
}
.nmb-15 {
  margin-bottom: 15px !important;
}
.nmb-16 {
  margin-bottom: 16px !important;
}
.nmb-17 {
  margin-bottom: 17px !important;
}
.nmb-18 {
  margin-bottom: 18px !important;
}
.nmb-19 {
  margin-bottom: 19px !important;
}
.nmb-20 {
  margin-bottom: 20px !important;
}
.nmb-21 {
  margin-bottom: 21px !important;
}
.nmb-22 {
  margin-bottom: 22px !important;
}
.nmb-23 {
  margin-bottom: 23px !important;
}
.nmb-24 {
  margin-bottom: 24px !important;
}
.nmb-25 {
  margin-bottom: 25px !important;
}
.nmb-26 {
  margin-bottom: 26px !important;
}
.nmb-27 {
  margin-bottom: 27px !important;
}
.nmb-28 {
  margin-bottom: 28px !important;
}
.nmb-29 {
  margin-bottom: 29px !important;
}
.nmb-30 {
  margin-bottom: 30px !important;
}
.nmb-31 {
  margin-bottom: 31px !important;
}
.nmb-32 {
  margin-bottom: 32px !important;
}
.nmb-33 {
  margin-bottom: 33px !important;
}
.nmb-34 {
  margin-bottom: 34px !important;
}
.nmb-35 {
  margin-bottom: 35px !important;
}
.nmb-36 {
  margin-bottom: 36px !important;
}
.nmb-37 {
  margin-bottom: 37px !important;
}
.nmb-38 {
  margin-bottom: 38px !important;
}
.nmb-39 {
  margin-bottom: 39px !important;
}
.nmb-40 {
  margin-bottom: 40px !important;
}
.nmb-41 {
  margin-bottom: 41px !important;
}
.nmb-42 {
  margin-bottom: 42px !important;
}
.nmb-43 {
  margin-bottom: 43px !important;
}
.nmb-44 {
  margin-bottom: 44px !important;
}
.nmb-45 {
  margin-bottom: 45px !important;
}
.nmb-46 {
  margin-bottom: 46px !important;
}
.nmb-47 {
  margin-bottom: 47px !important;
}
.nmb-48 {
  margin-bottom: 48px !important;
}
.nmb-49 {
  margin-bottom: 49px !important;
}
.nmb-50 {
  margin-bottom: 50px !important;
}
.nml-0 {
  margin-left: 0 !important;
}
.nml-1 {
  margin-left: 1px !important;
}
.nml-2 {
  margin-left: 2px !important;
}
.nml-3 {
  margin-left: 3px !important;
}
.nml-4 {
  margin-left: 4px !important;
}
.nml-5 {
  margin-left: 5px !important;
}
.nml-6 {
  margin-left: 6px !important;
}
.nml-7 {
  margin-left: 7px !important;
}
.nml-8 {
  margin-left: 8px !important;
}
.nml-9 {
  margin-left: 9px !important;
}
.nml-10 {
  margin-left: 10px !important;
}
.nml-11 {
  margin-left: 11px !important;
}
.nml-12 {
  margin-left: 12px !important;
}
.nml-13 {
  margin-left: 13px !important;
}
.nml-14 {
  margin-left: 14px !important;
}
.nml-15 {
  margin-left: 15px !important;
}
.nml-16 {
  margin-left: 16px !important;
}
.nml-17 {
  margin-left: 17px !important;
}
.nml-18 {
  margin-left: 18px !important;
}
.nml-19 {
  margin-left: 19px !important;
}
.nml-20 {
  margin-left: 20px !important;
}
.nml-21 {
  margin-left: 21px !important;
}
.nml-22 {
  margin-left: 22px !important;
}
.nml-23 {
  margin-left: 23px !important;
}
.nml-24 {
  margin-left: 24px !important;
}
.nml-25 {
  margin-left: 25px !important;
}
.nml-26 {
  margin-left: 26px !important;
}
.nml-27 {
  margin-left: 27px !important;
}
.nml-28 {
  margin-left: 28px !important;
}
.nml-29 {
  margin-left: 29px !important;
}
.nml-30 {
  margin-left: 30px !important;
}
.nml-31 {
  margin-left: 31px !important;
}
.nml-32 {
  margin-left: 32px !important;
}
.nml-33 {
  margin-left: 33px !important;
}
.nml-34 {
  margin-left: 34px !important;
}
.nml-35 {
  margin-left: 35px !important;
}
.nml-36 {
  margin-left: 36px !important;
}
.nml-37 {
  margin-left: 37px !important;
}
.nml-38 {
  margin-left: 38px !important;
}
.nml-39 {
  margin-left: 39px !important;
}
.nml-40 {
  margin-left: 40px !important;
}
.nml-41 {
  margin-left: 41px !important;
}
.nml-42 {
  margin-left: 42px !important;
}
.nml-43 {
  margin-left: 43px !important;
}
.nml-44 {
  margin-left: 44px !important;
}
.nml-45 {
  margin-left: 45px !important;
}
.nml-46 {
  margin-left: 46px !important;
}
.nml-47 {
  margin-left: 47px !important;
}
.nml-48 {
  margin-left: 48px !important;
}
.nml-49 {
  margin-left: 49px !important;
}
.nml-50 {
  margin-left: 50px !important;
}
.nmr-0 {
  margin-right: 0 !important;
}
.nmr-1 {
  margin-right: 1px !important;
}
.nmr-2 {
  margin-right: 2px !important;
}
.nmr-3 {
  margin-right: 3px !important;
}
.nmr-4 {
  margin-right: 4px !important;
}
.nmr-5 {
  margin-right: 5px !important;
}
.nmr-6 {
  margin-right: 6px !important;
}
.nmr-7 {
  margin-right: 7px !important;
}
.nmr-8 {
  margin-right: 8px !important;
}
.nmr-9 {
  margin-right: 9px !important;
}
.nmr-10 {
  margin-right: 10px !important;
}
.nmr-11 {
  margin-right: 11px !important;
}
.nmr-12 {
  margin-right: 12px !important;
}
.nmr-13 {
  margin-right: 13px !important;
}
.nmr-14 {
  margin-right: 14px !important;
}
.nmr-15 {
  margin-right: 15px !important;
}
.nmr-16 {
  margin-right: 16px !important;
}
.nmr-17 {
  margin-right: 17px !important;
}
.nmr-18 {
  margin-right: 18px !important;
}
.nmr-19 {
  margin-right: 19px !important;
}
.nmr-20 {
  margin-right: 20px !important;
}
.nmr-21 {
  margin-right: 21px !important;
}
.nmr-22 {
  margin-right: 22px !important;
}
.nmr-23 {
  margin-right: 23px !important;
}
.nmr-24 {
  margin-right: 24px !important;
}
.nmr-25 {
  margin-right: 25px !important;
}
.nmr-26 {
  margin-right: 26px !important;
}
.nmr-27 {
  margin-right: 27px !important;
}
.nmr-28 {
  margin-right: 28px !important;
}
.nmr-29 {
  margin-right: 29px !important;
}
.nmr-30 {
  margin-right: 30px !important;
}
.nmr-31 {
  margin-right: 31px !important;
}
.nmr-32 {
  margin-right: 32px !important;
}
.nmr-33 {
  margin-right: 33px !important;
}
.nmr-34 {
  margin-right: 34px !important;
}
.nmr-35 {
  margin-right: 35px !important;
}
.nmr-36 {
  margin-right: 36px !important;
}
.nmr-37 {
  margin-right: 37px !important;
}
.nmr-38 {
  margin-right: 38px !important;
}
.nmr-39 {
  margin-right: 39px !important;
}
.nmr-40 {
  margin-right: 40px !important;
}
.nmr-41 {
  margin-right: 41px !important;
}
.nmr-42 {
  margin-right: 42px !important;
}
.nmr-43 {
  margin-right: 43px !important;
}
.nmr-44 {
  margin-right: 44px !important;
}
.nmr-45 {
  margin-right: 45px !important;
}
.nmr-46 {
  margin-right: 46px !important;
}
.nmr-47 {
  margin-right: 47px !important;
}
.nmr-48 {
  margin-right: 48px !important;
}
.nmr-49 {
  margin-right: 49px !important;
}
.nmr-50 {
  margin-right: 50px !important;
}
.nfont-5 {
  font-size: 5px !important;
}
.nfont-6 {
  font-size: 6px !important;
}
.nfont-7 {
  font-size: 7px !important;
}
.nfont-8 {
  font-size: 8px !important;
}
.nfont-9 {
  font-size: 9px !important;
}
.nfont-10 {
  font-size: 10px !important;
}
.nfont-11 {
  font-size: 11px !important;
}
.nfont-12 {
  font-size: 12px !important;
}
.nfont-13 {
  font-size: 13px !important;
}
.nfont-14 {
  font-size: 14px !important;
}
.nfont-15 {
  font-size: 15px !important;
}
.nfont-16 {
  font-size: 16px !important;
}
.nfont-17 {
  font-size: 17px !important;
}
.nfont-18 {
  font-size: 18px !important;
}
.nfont-19 {
  font-size: 19px !important;
}
.nfont-20 {
  font-size: 20px !important;
}
.nfont-21 {
  font-size: 21px !important;
}
.nfont-22 {
  font-size: 22px !important;
}
.nfont-23 {
  font-size: 23px !important;
}
.nfont-24 {
  font-size: 24px !important;
}
.nfont-25 {
  font-size: 25px !important;
}
.nfont-26 {
  font-size: 26px !important;
}
.nfont-27 {
  font-size: 27px !important;
}
.nfont-28 {
  font-size: 28px !important;
}
.nfont-29 {
  font-size: 29px !important;
}
.nfont-30 {
  font-size: 30px !important;
}
.nfont-31 {
  font-size: 31px !important;
}
.nfont-32 {
  font-size: 32px !important;
}
.nfont-33 {
  font-size: 33px !important;
}
.nfont-34 {
  font-size: 34px !important;
}
.nfont-35 {
  font-size: 35px !important;
}
.nfont-36 {
  font-size: 36px !important;
}
.nfont-37 {
  font-size: 37px !important;
}
.nfont-38 {
  font-size: 38px !important;
}
.nfont-39 {
  font-size: 39px !important;
}
.nfont-40 {
  font-size: 40px !important;
}
.nfont-41 {
  font-size: 41px !important;
}
.nfont-42 {
  font-size: 42px !important;
}
.nfont-43 {
  font-size: 43px !important;
}
.nfont-44 {
  font-size: 44px !important;
}
.nfont-45 {
  font-size: 45px !important;
}
.nfont-46 {
  font-size: 46px !important;
}
.nfont-47 {
  font-size: 47px !important;
}
.nfont-48 {
  font-size: 48px !important;
}
.nfont-49 {
  font-size: 49px !important;
}
.nfont-50 {
  font-size: 50px !important;
}
.nlh-0 {
  line-height: 0px !important;
}
.nlh-1 {
  line-height: 1px !important;
}
.nlh-2 {
  line-height: 2px !important;
}
.nlh-3 {
  line-height: 3px !important;
}
.nlh-4 {
  line-height: 4px !important;
}
.nlh-5 {
  line-height: 5px !important;
}
.nlh-6 {
  line-height: 6px !important;
}
.nlh-7 {
  line-height: 7px !important;
}
.nlh-8 {
  line-height: 8px !important;
}
.nlh-9 {
  line-height: 9px !important;
}
.nlh-10 {
  line-height: 10px !important;
}
.nlh-11 {
  line-height: 11px !important;
}
.nlh-12 {
  line-height: 12px !important;
}
.nlh-13 {
  line-height: 13px !important;
}
.nlh-14 {
  line-height: 14px !important;
}
.nlh-15 {
  line-height: 15px !important;
}
.nlh-16 {
  line-height: 16px !important;
}
.nlh-17 {
  line-height: 17px !important;
}
.nlh-18 {
  line-height: 18px !important;
}
.nlh-19 {
  line-height: 19px !important;
}
.nlh-20 {
  line-height: 20px !important;
}
.nlh-21 {
  line-height: 21px !important;
}
.nlh-22 {
  line-height: 22px !important;
}
.nlh-23 {
  line-height: 23px !important;
}
.nlh-24 {
  line-height: 24px !important;
}
.nlh-25 {
  line-height: 25px !important;
}
.nlh-26 {
  line-height: 26px !important;
}
.nlh-27 {
  line-height: 27px !important;
}
.nlh-28 {
  line-height: 28px !important;
}
.nlh-29 {
  line-height: 29px !important;
}
.nlh-30 {
  line-height: 30px !important;
}
.nlh-31 {
  line-height: 31px !important;
}
.nlh-32 {
  line-height: 32px !important;
}
.nlh-33 {
  line-height: 33px !important;
}
.nlh-34 {
  line-height: 34px !important;
}
.nlh-35 {
  line-height: 35px !important;
}
.nlh-36 {
  line-height: 36px !important;
}
.nlh-37 {
  line-height: 37px !important;
}
.nlh-38 {
  line-height: 38px !important;
}
.nlh-39 {
  line-height: 39px !important;
}
.nlh-40 {
  line-height: 40px !important;
}
.nlh-41 {
  line-height: 41px !important;
}
.nlh-42 {
  line-height: 42px !important;
}
.nlh-43 {
  line-height: 43px !important;
}
.nlh-44 {
  line-height: 44px !important;
}
.nlh-45 {
  line-height: 45px !important;
}
.nlh-46 {
  line-height: 46px !important;
}
.nlh-47 {
  line-height: 47px !important;
}
.nlh-48 {
  line-height: 48px !important;
}
.nlh-49 {
  line-height: 49px !important;
}
.nlh-50 {
  line-height: 50px !important;
}
.ncolor-white {
  color: #fff !important;
}
.color-light {
  color: #666 !important;
}
.color-black {
  color: black !important;
}
.color-green {
  color: green !important;
}
.color-red {
  color: red !important;
}
.color-yellow {
  color: rgb(212, 212, 0) !important;
}
.color-blue {
  color: rgb(0, 47, 255) !important;
}
.nfw-100 {
  font-weight: 100 !important;
}
.nfw-200 {
  font-weight: 200 !important;
}
.nfw-300 {
  font-weight: 300 !important;
}
.nfw-400 {
  font-weight: 400 !important;
}
.nfw-500 {
  font-weight: 500 !important;
}
.nfw-600 {
  font-weight: 600 !important;
}
.ncolor-primary {
  color: #050748;
}
.nnowrap {
  white-space: nowrap !important;
}
.nrel {
  position: relative;
}
.nabs {
  position: absolute;
}
.nabs-tl-0 {
  position: absolute;
  top: 2px;
  left: 17px;
}
.nflex-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nflex-end {
  display: flex;
  justify-content: end;
  width: 100%;
}
.bg-orange {
  background-color: orangered;
}
.nflex-center {
  display: flex;
  justify-content: center;
  width: 100%;
}
.n-center {
  text-align: center !important;
}
.n-right {
  text-align: right !important;
}

.n-left {
  text-align: left !important;
}
.nf-center {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.n-ul-2 {
  column-count: 2;
}
.n-list-item span {
  background-color: #535353;
  margin-bottom: 7px;
  margin-right: 7px;
  white-space: nowrap;
  padding: 3px 7px;
  font-size: 12px;
  color: #fff;
}
.ndisable {
  display: none !important;
}
.nactive {
  display: block;
}
.nd-inline{display: inline!important;}
.nd-block{display: inline-block!important;}