.ncd-4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 300px;
  gap: 10px;
  &__it {
    flex: 1;
    min-width: 200px;
    padding: 20px 20px;
    background-color: #8080802e;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      z-index: 4;
      // background: $txt-white;
      border: 2px solid $txt-white;
      inset: 10px;
      transition: border 0.2s ease-in;
    }
    &:hover::before {
      border-color: $p-orange;
    }
    .ni-cir {
      // background-color: $txt-white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      img {
        height: 60px;
        width: 60px;
      }
    }
    .lead {
      margin-top: 15px;
      text-align: center;
      .ld-hd {
        font-weight: 500;
      }
      & .ld-p {
        color: rgb(114, 111, 111);
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 5px;
      }
    }
  }
}

.ncd-5 {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  flex-basis: 300px;
  & > div {
    flex: 1;
  }
}

.fm-bx-2 {
  display: flex;
  gap: 10px;
  & > div {
    flex: 1;
  }
}
