.glay {
  display: none;
  position: fixed;
  inset: 0;
  background-color: #0c0909b3;
  filter: blur(40px);
  z-index: 9;
}

.npre {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $txt-white;
  z-index: 99999;
}
